<h1>ポケモン一覧ページ</h1>
<%= link_to '技一覧へ', moves_path %>
<%= link_to '新規登録', new_pokemon_path %>
<% @pokemons.each do |pokemon| %>
<div>
  <div>
    <%= link_to '削除', pokemon_path(pokemon.id), method: :delete %>
    <%= link_to '詳細', pokemon_path(pokemon.id) %>
    <%= link_to '編集', edit_pokemon_path(pokemon.id) %>
  </div>
  <div>
    図鑑No:<%= pokemon.pokemon_number %> <%= pokemon.name %><br>
    タイプ1：<%= pokemon.type1_id%><br>
    タイプ2：<%= pokemon.type2_id%><br>
    ----------------------------------------
  </div>
</div>
<% end %>