<h1>ポケモン詳細ページ</h1>
<%= link_to 'トップページへ', root_path %>
<div>
  図鑑No:<%= @pokemon.pokemon_number %> <%= @pokemon.name %><br>
  タイプ1：<%= @pokemon.type1_id%><br>
  タイプ2：<%= @pokemon.type2_id%><br>
  ----------------------------------------
</div>